# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# VS Code
.vscode/

# Data files (raw data should not be in Git)
data/
*.csv
*.xlsx

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
