# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# VS Code
.vscode/

# Data files (raw data should not be in Git)
data/
*.csv
*.xlsx

# logs
*.log

# OS files
.DS_Store
Thumbs.db

# Development files
notes/

# Ignore config file with sensitive info
config.yaml

# output files
output/